
::-webkit-scrollbar {
    width: 6px;
}


::-webkit-scrollbar-track {
    background: #2d2d2d;
    border-radius: 10px;
    border-color: #86efac;
}


::-webkit-scrollbar-thumb {
    background: #86efac;
    border-radius: 10px;
}

